// no need to support non chrome browsers
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

@import "compass/css3";
@import "compass/css3/user-interface";

// variables

$toolbar-height: 30px;

$mask-zindex: 2000004;

$toolbar-color: #3F79C2;

$element-toolbar-color: lighten($toolbar-color, 40%);

// css resets 
*[id^=page-ruler] {
	cursor:			auto !important;
	margin:			0 !important;
    padding:		0 !important;
    border:			0 !important;
    outline:		0 !important;
    vertical-align:	baseline !important;
	font:			normal normal normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	position:		relative !important;
	display:		inline !important;
	color:			#000000 !important;
	border:			none !important;
	@include		box-sizing(border-box !important);
	min-height:		0px !important;
	@include		border-radius(0px !important);
	direction:		lrt !important;
}
*[id^=page-ruler-] {
	width:	auto !important;
}
div, p, h1, h2, h3, h4, h5 {
	&[id^=page-ruler] {
		display: block !important;
	}
}
input {
	&[id^=page-ruler] {
		@include appearance(textfield !important);
		&[type=checkbox] {
			@include appearance(checkbox !important);
		}
		&[type=number] {
			&::-webkit-inner-spin-button {
				-webkit-appearance:	none !important;
				cursor:				pointer !important;
				display:			block !important;
				width:				14px !important;
				color:				#333 !important;
				text-align:			center !important;
				position:			relative !important;
				background-color:	#ccc !important;
			}

			&::-webkit-inner-spin-button:hover {
				color:	$toolbar-color !important;
			}

			&::-webkit-inner-spin-button:before,
			&::-webkit-inner-spin-button:after {
				content:		"^" !important;
				position:		absolute !important;
				right:			0 !important;
				font-family:	monospace !important;
				font-size:		20px !important;
				right:			1px !important;
			}

			&::-webkit-inner-spin-button:before {
				top:	-1px !important;
			}

			&::-webkit-inner-spin-button:after {
				bottom:				-5px !important;
				-webkit-transform:	rotate(180deg) !important;
			}
		}
	}
}

// toolbar

#page-ruler-toolbar {
	
	z-index:			$mask-zindex+1 !important;
	position:			fixed !important;
	top:				0px !important;
	left:				0px !important;
	width:				100% !important;
	height:				$toolbar-height !important;
	background-color:	$toolbar-color !important;
	cursor:				default !important;

	label {
		margin-left:	10px !important;
		font-weight:	bold !important;
		padding-right:	5px !important;
		cursor:			default !important;
		color:			#ffffff !important;
	}

	input[type=number] {
		padding:	3px 17px 3px 3px !important;
		width:		80px !important;
		text-align:	right !important;
	}

	input[type=color] {
		width: 		40px !important;
		height:		20px !important;
		@include	border-radius(2px !important);
		border:		1px solid #777777 !important;
	}

	.page-ruler-container {
		display:		inline-block !important;
		padding-top:	5px !important;
	}

	.page-ruler-close-container {
		float:		right !important;
		padding:	5px !important;
		img {
			cursor: pointer !important;
		}
	}

	.page-ruler-px-container {
		display:	inline !important;
		position:	relative !important;
		&:after {
			content:	'px' !important;
			position:	absolute !important;
			right:		17px !important;
			top:		0px !important;
			color:		#aaaaaa !important;
			@include	user-select(none !important);
		}
	}

	.page-ruler-element-toggle-container {
		float:				left !important;
		height:				$toolbar-height !important;
		line-height:		$toolbar-height !important;
		background-color:	$element-toolbar-color !important;
		padding-top:		2px !important;
		cursor:				pointer !important;
		span {
			cursor:			pointer !important;
			padding-left:	5px !important;
		}
		img {
			padding:	0px 5px !important;
			top:		4px !important;
			cursor:		pointer !important;
		}
	}

	#page-ruler-toolbar-container {
		height:				$toolbar-height !important;
		display:			table-cell !important;
		vertical-align:		middle !important;
		margin-top:			inherit !important;
		width:				100% !important;
		float:				left !important;
	}

}

// element toolbar

#page-ruler-element-toolbar {
	background-color:	$element-toolbar-color !important;
	height:				$toolbar-height !important;
	line-height:		$toolbar-height !important;
	vertical-align:		middle !important;
	float:				left !important;
	width:				100% !important;
	display:			none !important;

	label {
		color:	#000000 !important;
	}

	span {
		font-weight:	bold !important;
		&.page-ruler-tag {
			color:	#00970C !important;
		}
		&.page-ruler-id {
			color:	#B12C9D !important;
		}
		&.page-ruler-cls {
			color:	#994500 !important;
		}
	}

	.page-ruler-help-container {
		padding-left:	20px !important;
		background:		transparent url('images/help.png') no-repeat left center !important;
		margin-left:	10px !important;
		flex:			1 !important;
		padding-top:	8px !important;
	}

	.page-ruler-nav-container {
		padding-left:	10px !important;
		cursor:			pointer !important;
		overflow:		hidden !important;
		white-space:	nowrap !important;
		* {
			cursor:	pointer !important;
		}
		span {
			font-size:	11px !important;
		}
		img {
			top:			3px !important;
			padding-right:	2px !important;
		}
		> div {
			display:	inline-block !important;
		}
	}

	#page-ruler-element-toolbar-element {
		padding-left:	10px !important;
		padding-top:	3px !important;
		span {
			font-size:	13px !important;
		}
	}

	#page-ruler-element-toolbar-navigate-container {
		padding-left:	10px !important;
		flex:			1 !important;
		display:		flex !important;
	}

	#page-ruler-element-toolbar-tracking-mode-container {
		float:			right !important;
		padding-top:	2px !important;
		> label {
			top: -8px !important;
		}
	}

	#page-ruler-element-toolbar-tracking-mode-toggle {
		position:	relative !important;

		width:		70px !important;
		&.lang_pt {
			width:	110px !important;
		}
		&.lang_es {
			width:	125px !important;
		}

		display:	inline-block !important;
		@include	user-select(none !important);
		input {
			display: none !important;

			&:checked {
				+ label {
					.page-ruler-inner {
						margin-left: 0 !important;
					}
					.page-ruler-switch {
						right:	0px !important;
					}
				}
			}

		}
		label {
			display:		block !important;
			overflow:		hidden !important;
			cursor:			pointer !important;
			border:			2px solid #999999 !important;
			@include		border-radius(20px !important);
			padding-right:	0px !important;
			margin-left:	0px !important;
			height:			26px !important;
			z-index:		1 !important;

			.page-ruler-inner, .page-ruler-switch {
				cursor: pointer !important;
			}

			.page-ruler-inner {
				width:			200% !important;
				margin-left:	-100% !important;
				@include		transition(margin 0.3s ease-in 0s !important);
				&:after, &:before {
					float:			left !important;
					width:			50% !important;
					height:			30px !important;
					padding:		0px !important;
					line-height:	24px !important;
					font-size:		12px !important;
					color:			#ffffff !important;
					font-family:	Trebuchet, Arial, sans-serif !important;
					font-weight:	bold !important;
					@include		box-sizing(border-box !important);
				}
				&:before {
					content:			"__MSG_elementToolbarToggleOn__" !important;
					text-transform:		uppercase !important;
					padding-left:		10px !important;
					background-color:	$toolbar-color !important;
					color:				#ffffff !important;
				}
				&:after {
					content:			"__MSG_elementToolbarToggleOff__" !important;
					text-transform:		uppercase !important;
					padding-right:		10px !important;
					background-color:	#eeeeee !important;
					color:				#999999 !important;
					text-align:			right !important;
				}
			}

			.page-ruler-switch {
				width:		16px !important;
				margin:		3px !important;
				background:	#ffffff !important;
				border:		2px solid #999999 !important;
				@include	border-radius(20px !important);
				position:	absolute !important;
				top:		0px !important;
				bottom:		0px !important;
				right:		40px !important;
				@include	transition(all 0.3s ease-in 0s !important);

				&.lang_pt {
					right:	80px !important;
				}
				&.lang_pt {
					right:	95px !important;
				}

			}
		}
	}


}

// mask

#page-ruler-mask {
	width:				100% !important;
	height:				100% !important;
	position:			fixed !important;
	top:				0px !important;
	left:				0px !important;
	z-index:			$mask-zindex !important;
	cursor:				crosshair !important;
}

// ruler
#page-ruler {
	position:			absolute !important;
	z-index:			$mask-zindex + 1 !important;
	border-width:		1px !important;
	border-style:		dashed !important;

	.page-ruler-container {
		position:	relative !important;
		width:		100% !important;
		height:		100% !important;
		cursor:		move !important;
		overflow:	hidden !important;

		.page-ruler-corner {
			position:		absolute !important;
			width:			16px !important;
			height:			16px !important;
			border-width:	1px !important;
			border-style:	dashed !important;
		}

		.page-ruler-edge {
			position:	absolute !important;
		}

		.page-ruler-top {
			top:	0px !important;
			left:	0px !important;
			height:	8px !important;
			width:	100% !important;
			cursor:	n-resize !important;
		}

		.page-ruler-bottom {
			bottom:	0px !important;
			left:	0px !important;
			height:	8px !important;
			width:	100% !important;
			cursor:	n-resize !important;
		}

		.page-ruler-left {
			top:	0px !important;
			left:	0px !important;
			height:	100% !important;
			width:	8px !important;
			cursor:	w-resize !important;
		}

		.page-ruler-right {
			top:	0px !important;
			right:	0px !important;
			height:	100% !important;
			width:	8px !important;
			cursor:	w-resize !important;
		}

		.page-ruler-top-left {
			top:			0px !important;
			left:			0px !important;
			border-left:	none !important;
			border-top:		none !important;
			cursor:			nw-resize !important;
		}

		.page-ruler-top-right {
			top:			0px !important;
			right:			0px !important;
			border-right:	none !important;
			border-top:		none !important;
			cursor:			ne-resize !important;
		}

		.page-ruler-bottom-left {
			bottom:			0px !important;
			left:			0px !important;
			border-left:	none !important;
			border-bottom:	none !important;
			cursor:			sw-resize !important;
		}

		.page-ruler-bottom-right {
			bottom:			0px !important;
			right:			0px !important;
			border-right:	none !important;
			border-bottom:	none !important;
			cursor:			se-resize !important;
		}

	}

	&.page-ruler-tracking {
		.page-ruler-container {
			cursor:	pointer !important;
			.page-ruler-edge, .page-ruler-corner {
				cursor:	pointer !important;
			}
		}
	}
}